h1{
  font-size: 1.1vw;
  font-family: arial;
  color: #595959;
}
*{
  margin: 0px auto;
  padding: 0;
  border:0;
  border-spacing:0;
  box-sizing: border-box;
-moz-box-sizing: border-box;
}
body,html{
/*  overflow: hidden;*/
  overflow: hidden;
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;


}

.left_content{


  padding-right: 3px ;
  position: relative;

  display: inline-block;
  width: 76.3%;
  height: 70%;
  background-color: #f2f2f2;
}

.right_content{
  float: right;
  position: relative;
  display: inline-block;

  width: 23.7%;
  height:70%;
  padding-top: 60px;
  background-color: #ddd;
}

.footer_content{
  position: relative;
  display: inline-block;
  width: 100%;

  height: 30%;

  background-color: #f2f2f2;
}

.cpu-container {
	box-sizing: border-box;
  float: left;
	width: 47%;
	height: 48%;
	padding: 20px 15px 15px 15px;
	background: #f2f2f2;


}

.cpu-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.cpu-container2 {
	box-sizing: border-box;
  float: right;
	width: 47%;

	height: 48%;
	padding: 20px 15px 15px 15px;
	background: #f2f2f2;


}

.cpu-placeholder2 {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.gpu-container {
	box-sizing: border-box;
  display: inline-block;
	width: 45%;
	height: 48%;
	padding: 20px 15px 15px 15px;
	margin: 5px;
	background: #f2f2f2;


}

.gpu-placeholder {
  display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.gpu2-container {
  float: right;
  display: inline-block;
	box-sizing: border-box;
	width: 45%;
	height: 48%;
	padding: 20px 15px 15px 15px;
	margin: 5px;
	background: #f2f2f2;


}

.gpu2-placeholder {
  width: 100%;
  height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
#footer {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.diskspace-container {
	box-sizing: border-box;
  position: relative;
  bottom: -7.5%;
  display: inline-block;
	width: 20%;
	height: 90%;
	padding: 60px 15px 15px 15px;
  float: left;
  left: 0.3%;
  box-shadow: 1px 1px 1px #999;
	background: #ddd;


}


.diskspace-placeholder {
	width: 17%;
	height: 100%;
  margin: auto 0;
  display: inline-block;
	font-size: 14px;
	line-height: 1.2em;
}


.diskspace2-container {
	box-sizing: border-box;
	width: 22%;
	height: 90%;
	padding: 60px 15px 15px 15px;
  display: inline-block;
  bottom: 1%;
  position: absolute;
  box-shadow: 1px 1px 1px #999;

  margin: 4px 1.4%;

	background: #ddd;
}


.diskspace2-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
.memory-container {
  box-sizing: border-box;
	width: 15%;
	height:90%;
	padding: 60px 15px  15px 15px;
  display: inline-block;
  bottom:1%;

  position: absolute;
  box-shadow: 1px 1px 1px #999;
  margin:4px 24.5%;
	background: #ddd;


}
.memory2-container {
  box-sizing: border-box;
	width: 15%;
	height: 90%;
  margin-bottom: 20px;
	padding: 60px 15px  15px 15px;
  display: inline-block;;
  bottom: 1%;
  position: absolute;
  box-shadow: 1px 1px 1px #999;
  margin:4px 39.5%;
  border-left: 1px solid rgba(0,0,0,0.2);
	background: #ddd;


}



#hold_info{
  width: 100%;
  height: 90%;
  padding-top: 1em;
  position: relative;
  top:-6%;
  text-align: center;


}
.right_content h1{
  position: relative;

  font-size: 16px;
  text-align: center;
  color:#666;

}
#hold_info hr{
  border-top: 1px solid rgba(0, 0, 0,0.2);
  width: 65%;
  margin: 0 auto;
  position: relative;

}
#hold_info .header_pie{
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51,0.7);
  box-shadow: 0px 1px 1px #999;
}
.memory-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;

}

#nott_logo{
  width:100%;
  height: 40%;
  position: absolute;
  bottom:6%;
  right: -20%;
  background-image: url("University_of_Nottingham_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.circlehold{
  position: relative;
  top: -0.5em;
  width: 115px;
  border: 3px solid rgba(0, 75, 121,0.4);
  height: 115px;
  margin: 0 auto;
  border-radius: 100%;

}
.circlehold h2{
  position: relative;
  font-size: 4vw;
  font-family: arial;
  color:rgba(0, 75, 121,0.8);
  opacity: 0.9;

  text-align: center;
  top: 0.25em;
}
.header_pie{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 13px;
  height: 20%;
  width: 100%;
  background-color: #b3b3b3;
}
#logo_hold{
  border-top: 1px dotted #999;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  width: 23.7%;
  height: 100%;
  background-color: #ddd;

}
